<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
    <title>New Password | NotesApp</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const passwordInput = document.getElementById("password");
        const confirmPasswordInput = document.getElementById("confirmPassword");
        const submitButton = document.getElementById("submit-button");
        const form = document.getElementById("form-container");
        const messageContainer = document.getElementById("message-container");
        const passwordError = document.createElement("p");
        const confirmPasswordError = document.createElement("p");

        passwordError.className = "text-sm text-red-500 mt-1";
        confirmPasswordError.className = "text-sm text-red-500 mt-1";

        const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%]).{8,24}$/;

        const validatePassword = () => {
          if (!passwordInput.value) {
            return false;
          } else if (!regex.test(passwordInput.value)) {
            passwordError.textContent =
              "Password must be at least 8 characters long, with one uppercase, one lowercase, one digit and one special character.";
            if (!passwordInput.nextElementSibling) {
              passwordInput.parentNode.appendChild(passwordError);
            }
            return false;
          }
          passwordError.textContent = "";
          return true;
        };

        const validateConfirmPassword = () => {
          if (!confirmPasswordInput.value) {
            return false;
          } else if (confirmPasswordInput.value !== passwordInput.value) {
            confirmPasswordError.textContent = "Passwords do not match.";
            if (!confirmPasswordInput.nextElementSibling) {
              confirmPasswordInput.parentNode.appendChild(confirmPasswordError);
            }
            return false;
          }
          confirmPasswordError.textContent = "";
          return true;
        };
        passwordInput.addEventListener("input", () => {
          validatePassword();
          updateFormValidity();
        });
        confirmPasswordInput.addEventListener("input", () => {
          validateConfirmPassword();
          updateFormValidity();
        });

        const updateFormValidity = () => {
          const isValid = validateConfirmPassword() && validatePassword();
          submitButton.disabled = !isValid;
        };

        submitButton.addEventListener("click", async (e) => {
          e.preventDefault();

          const urlParams = new URLSearchParams(window.location.search);
          const token = urlParams.get("token");

          const payload = {
            password: passwordInput.value,
            confirmPassword: confirmPasswordInput.value,
          };

          try {
            const response = await fetch(
              `/api/auth/new-password/${token}`,
              {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(payload),
              }
            );

            if (response.ok) {
              const data = await response.json();
              passwordInput.value = "";
              confirmPasswordInput.value = "";
              messageContainer.innerHTML = "";
              const successMessage = document.createElement("p");
              successMessage.textContent = data.message;
              successMessage.className =
                "text-sm text-center text-sky-500";
                messageContainer.className = "bg-sky-100 border border-sky-400 p-2 mt-4 rounded";
              messageContainer.appendChild(successMessage);
            } else {
              const errorData = await response.json();
              messageContainer.innerHTML = "";
              const errorMessage = document.createElement("p");
              errorMessage.textContent = errorData.message;
              errorMessage.className = "text-sm text-center text-red-500";
              messageContainer.className = "bg-red-100 border border-red-400 p-2 mt-4 rounded";
              messageContainer.appendChild(errorMessage);
            }
          } catch (err) {
            messageContainer.innerHTML = "";
            const errorMessage = document.createElement("p");
            errorMessage.textContent =
              "Something went wrong. Please try again.";
            errorMessage.className = "text-sm text-center text-red-500";
            messageContainer.className = "bg-red-100 border border-red-400 p-2 mt-4 rounded";
            messageContainer.appendChild(errorMessage);
          }
        });
      });
    </script>
  </head>
  <body class="bg-[#f7fbfd]">
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <form
          class="max-w-md bg-white flex flex-col mx-auto w-full mt-8 rounded-md shadow-lg p-6"
          id="form-container"
        >
          <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">
            NotesApp
          </h2>
          <p class="leading-relaxed mb-5 text-gray-600">Reset your password</p>
          <div class="mb-4">
            <label for="password" class="leading-7 text-sm text-gray-600"
              >Password</label
            >
            <input
              type="password"
              id="password"
              name="password"
              required
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
          <div class="mb-4">
            <label for="confirmPassword" class="leading-7 text-sm text-gray-600"
              >Confirm Password</label
            >
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              required
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
          <button
            class="text-white bg-sky-500 border-0 py-2 px-6 focus:outline-none hover:bg-sky-600 rounded text-lg disabled:opacity-50"
            type="submit"
            disabled
            id="submit-button"
          >
            Submit
          </button>
          <div id="message-container"></div>
        </form>
      </div>
    </section>
  </body>
</html>
